<!DOCTYPE html>
<head>
		<title>{{title}}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans+Display:wght@400;700&family=PT+Serif&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/stylesheets/main.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="/stylesheets/styles.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<script src="https://kit.fontawesome.com/14c632ef56.js" crossorigin="anonymous"></script>
</head>
<body>
  <nav class="padded-container">
  	<ul>
  		<li><a href="/">Dream Journal</a></li>
      <div class="header-right padded">
        {{#if loggedIn}}
    		<li><a href="/profile/settings">Settings</a></li>
        <li><a href="/logout">Logout</a></li>
        {{else}}
    		<li><a href="/register">Register</a></li>
    		<li><a href="/login">Login</a></li>
        {{/if}}
      </div>
  	</ul>
  </nav>
  <div class="container">
  	{{{ body }}}
  </div>
</body>
</html>
