<!DOCTYPE html>
<head>
		<title>{{title}}</title>
		<link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed" rel="stylesheet">
		<link rel="stylesheet" href="/stylesheets/main.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="/stylesheets/styles.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
  <nav class="padded-container">
  	<ul>
  		<li><a href="/">Dream Journal</a></li>
      <div class="header-right padded">
        {{#if loggedIn}}
    		<li><a href="/settings">Settings</a></li>
        <li><a href="/logout">Logout</a></li>
        {{else}}
    		<li><a href="/register">Register</a></li>
    		<li><a href="/login">Login</a></li>
        {{/if}}
      </div>
  	</ul>
  </nav>
  <div class="container">
  	{{{ body }}}
  </div>
</body>
</html>
