<div class="card center-self">
  <form method="post">
    <label for="dreamuname">Username:</label>
    <input type="text" name="dreamuname" id="dreamuname" required>
    <label for="dreampass">Password:</label>
    <input type="password" name="dreampass" id="dreampass" required>
    <input type="Submit" value="Register"/>
    <p class="error">{{err}}</p>
  </form>
</div>
