<div class="center">
  <h1>My Dreams</h1>
  <h2>Welcome {{user}}.</h2>
  <p>You've currently selected the calendar view (which has yet to be implemented!)</p>
  <p>{{theme}}</p>
  <p class="small">Theming with Sass has yet to be implemented (but auto compiling with Webpack has been set up!).</p>
</div>
