<div class="card center-self">
  <h1 class="center">Register</h1>
  <form method="post">
    <label for="dreamuname">Username:</label>
    <input type="text" name="dreamuname" id="dreamuname" required>
    <p class="error">{{err1}}</p>
    <!--Add error messages!-->
    <label for="dreampass">Password:</label>
    <input type="password" name="dreampass" id="dreampass" required>
    <p class="error">{{err2}}</p>
    <label for="dreampassconfirm">Confirm Password:</label>
    <input type="password" name="dreampassconfirm" id="dreampassconfirm" required>
    <p class="error">{{err3}}</p>
    <input type="Submit" value="Register"/>
    <p class="error">{{err4}}</p>
    <p class="small">Already a user? Log in <a href="login">here</a></p>
  </form>
</div>
