<div class="card center-self">
  <form method="post">
    <label for="dreamuname">Username:</label>
    <input type="text" name="dreamuname" id="dreamuname" required>
    <p class="error">{{err1}}</p>
    <!--Add error messages!-->
    <label for="dreampass">Password:</label>
    <input type="password" name="dreampass" id="dreampass" required>
    <p class="error">{{err2}}</p>
    <label for="dreampassconfirm">Confirm Password:</label>
    <input type="password" name="dreampassconfirm" id="dreampassconfirm" required>
    <p class="error">{{err3}}</p>
    <input type="Submit" value="Register"/>
    <p class="error">{{err4}}</p>
  </form>
</div>
