body {
  color: black;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

nav {
  background-color: black;
  color: white;
}
nav ul {
  margin: 0;
  list-style: none;
}
nav li {
  display: inline-block;
}
nav li a {
  display: block;
  padding: 12px 12px;
  text-decoration: none;
  color: white;
  transition: 0.5s;
}
nav li:hover a {
  color: black;
  background-color: white;
}
nav .header-right {
  float: right;
}

.padded-container {
  padding-left: 7.5vw;
  padding-right: 7.5vw;
}

.container {
  max-width: 85vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.center {
  text-align: center;
}

.center-self {
  margin-left: auto;
  margin-right: auto;
}

.card {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  max-width: 50vw;
}

.small {
  font-size: 0.75rem;
}

.error {
  font-size: 0.75rem;
  color: red;
  margin-top: -4px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 6px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password], select {
  width: 100%;
  padding: 12px 6px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit], input[type=button] {
  width: 100%;
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
}

input[type=submit]:hover {
  background-color: blue;
}

input[type=button]:hover {
  background-color: red;
}

select {
  font-family: "FontAwesome", "Lato", "sans-serif";
}

.dreamrating {
  font-size: 1.2rem;
}

.list {
  display: block;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.list a {
  display: block;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  color: #000;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 12px 10px;
  text-decoration: none;
}
.list a:hover {
  border: 1px solid blue;
}
.list .inverted {
  color: white;
  background-color: blue;
}
.list .inverted:hover {
  color: blue;
  background-color: white;
}