$primary-color: blue;
$fg-color: white;
$bg-color: black;

body {
  color: $bg-color;
  margin: 0;
  padding: 0;
}

nav {
  background-color: $bg-color;
  color: $fg-color;

  ul {
    margin: 0;
    list-style: none;
  }

  li {
    display: inline-block;

    a {
      display: block;
      padding: 12px 12px;
      text-decoration: none;
      color: $fg-color;
      transition: 0.5s;
    }

    &:hover {
      a {
        color: $bg-color;
        background-color: $fg-color;
      }
    }
  }

  .header-right {
    float: right;
  }
}

.padded-container {
  padding-left: 7.5vw;
  padding-right: 7.5vw;
}

.container {
  max-width: 85vw;
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
}

.center-self {
  margin-left: auto;
  margin-right: auto;
}

.card {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  max-width: 50vw;
}

.error {
  font-size: .75rem;
  color: red;
  margin-top: -4px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 6px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password], select {
  width: 100%;
  padding: 12px 6px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: $bg-color;
  color: $fg-color;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: .5s;
}

input[type=submit]:hover {
  background-color: $primary-color;
}
